
    body {
      background-color: #fff;
      color: #fff;
    }

    .agent-management-page {
      width: 90%;
      margin: auto;
      background-color: #33DB4A;
      padding: 20px;
      border-radius: 8px;
    }

    .section-title {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    .form-section {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      margin-top: 20px;
      color: #333;
    }

    .btn-authorize {
      background-color: #33DB4A;
      color: #fff;
    }
    .btn-authorize:hover{
      background-color: #28a745;
      color: white;
    }
    .btn-send-notification {
      background-color: #33DB4A;
      color: #fff;
    }
    .btn-send-notification:hover{
      background-color: #28a745;
      color: white;
    }

    .btn-request-marking {
      background-color: #33DB4A;
      color: #fff;
    }
  .btn-request-marking:hover{
    background-color: #28a745;
    color: white;
  }
  .btn-buyer{
    background-color: #33DB4A;
    color: white;
  }
.btn-buyer:hover{
  background-color: #28a745;
  color: white;
}
    .sidebar {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 210vh;
      background: #33DB4A;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      z-index: 1000;
    }

    .sidebar img {
      width: 50px;
      height: 30px;
      margin-bottom: 20px;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .sidebar li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      cursor: pointer;
    }

    .sidebar i {
      color: #fff;
      font-size: 20px;
      transition: color 0.3s ease;
    }

    .sidebar i:hover {
      color: #f0d124;
    }

    .sidebar .separator {
      width: 80%;
      height: 1px;
      background: #555;
      margin: 20px 0;
    }

    .sidebar .logout {
      margin-top: auto;
      margin-bottom: 20px;
    }
